@import "bootstrap.css";
@import "bootstrap-responsive.css";

.container {
    max-width: 560px;
}

footer {
    margin-top: 18px;
    color: #999;
    border-top: 1px solid #ccc;
    padding-top: 18px;
}

p::after {
    clear: both;
    display: block;
    content: "";
}

img {
    margin-right: 8px;
    border: 1px solid rgba(1,1,1,0);
}

img[alt="photo of ilmari"] {
    border: 1px solid #000;
}
